@font-face {
    font-family: "Monopix";
    src: url(/fonts/monopix.otf) format("opentype");
}
@font-face {
    font-family: "Segris 16";
    src: url(/fonts/segris-16.otf) format("opentype");
    size-adjust: 70%;
    ascent-override: 135%;
    descent-override: 20%;
}
:root {
    --text: #ddd;
    --d-text-b: #ddd;
    --text-b: var(--d-text-b);
    --icon: #fff8;
    --selection: #f6f;
    --selection-text: #404;
    --shadow: #000a;
    --d-small-text: #666;
    --small-text: var(--d-small-text);
    --section: #000;
    --section-b: #111;
    --d-border: #333;
    --border: var(--d-border);
    --link: #b8f;
    --d-link-b: #537;
    --link-b: var(--d-link-b);
    --accent: #f0f;
    --d-accent-b: #707;
    --accent-b: var(--d-accent-b);
    --accent-c: #202;
    --success: #0f0;
    --d-success-b: #070;
    --success-b: var(--d-success-b);
    --success-c: #020;
    --warning: #ff0;
    --d-warning-b: #770;
    --warning-b: var(--d-warning-b);
    --warning-c: #220;
    --danger: #f00;
    --d-danger-b: #700;
    --danger-b: var(--d-danger-b);
    --danger-c: #200;
    font-size: 18px;
    font-family: Monopix, monospace;
    color: var(--text);
    -webkit-text-size-adjust: none;
}
body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--section);
    background-image: url(/assets/background-tile.png);
    image-rendering: pixelated;
    &::selection {
        background-color: var(--selection);
        color: var(--selection-text);
    }
}
main {
    width: 1000px;
    height: 100vh;
    max-width: 95%;
    margin: 0 auto;
    mask: linear-gradient(0deg, #aaaa 10%, #ffff 40%, #ffff 60%, #aaaa 90%) 0 0 / 256px 2px;
    filter: brightness(1.4);
}
.main {
    padding: 3%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    box-sizing: border-box;
}
#left, #right {
    display: table-cell;
    vertical-align: middle;
}
#left {
    width: 25%;
    min-width: 100px;
}
#right {
    padding: 20px 0 20px 3.3%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--accent);
    position: relative;
    text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--accent);
    font-weight: 100;
    &::selection {
        color: var(--accent);
        text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow);
    }
    &.num {
        text-shadow: 0 0 0.5em var(--accent);
    }
}
h1 {
    font-size: 90px;
}
h2 {
    font-size: 54px;
}
h3 {
    font-size: 36px;
    margin-bottom: 6px;
}
p, li, details, figcaption, .text {
    text-shadow: 0.062em 0.062em var(--shadow), 0 0 0.25em var(--text-b);
    position: relative;
}
p {
    margin: 5px 0;
}
span {
    text-shadow: inherit;
    position: relative;
}
a {
    color: var(--link);
    text-shadow: 0.032em 0.032em var(--link-b), 0.032em -0.032em var(--link-b), -0.032em -0.032em var(--link-b), -0.032em 0.032em var(--link-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--link);
    position: relative;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
        text-decoration-style: dashed;    
    }
    &:active {
        opacity: 0.4;
    }
    &::selection {
        color: var(--link);
        text-shadow: 0.032em 0.032em var(--link-b), 0.032em -0.032em var(--link-b), -0.032em -0.032em var(--link-b), -0.032em 0.032em var(--link-b), 0.092em 0.092em var(--shadow);
    }
}
section {
    /* margin: 0 4px 8px 4px; */
    /* padding: 12px; */
    background: linear-gradient(var(--section-b), var(--section));
    border: 2px solid var(--border);
    border-radius: 9px;
    position: relative;
    z-index: 1;
    &.success {
        background: linear-gradient(var(--success-c), var(--section));
        border-color: var(--success);
    }
    &.warning {
        background: linear-gradient(var(--warning-c), var(--section));
        border-color: var(--warning);
    }
    &.danger {
        background: linear-gradient(var(--danger-c), var(--section));
        border-color: var(--danger);
    }
    &.important {
        background: linear-gradient(var(--accent-c), var(--section));
        border-color: var(--accent);
    }
    section {
        margin: -4px;
        border-radius: 9px;
    }
    hr {
        margin-left: -3px;
        margin-right: -3px;
    }
}
hr {
    border: 1px solid var(--border);
}
table {
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 0;
}
ol, ul {
    margin: 0;
}
ul {
    list-style-type: "•  ";
}
small {
    display: inline-block;
    color: var(--small-text);
    font-size: 14px;
    position: relative;
    text-shadow: 0.062em 0.062em var(--shadow), 0 0 0.25em var(--small-text);
    img {
        opacity: 0.4;
    }
}
iframe {
    display: block;
    border: none;
}
textarea, .code {
    display: block;
    padding: 4px;
    font-size: 0.7rem;
    font-family: monospace;
    text-shadow: none;
    color: var(--text);
    background-color: #222;
    border: 1px solid #444;
    box-sizing: border-box;
    resize: none;
    &.code {
        width: 100%;
    }
}
textarea {
    padding: 10px;
}
details > summary {
    text-decoration: underline solid;
    cursor: pointer;
    list-style-type: none;
    &:hover {
        opacity: 0.6;
        text-decoration-style: dashed;
    }
    &:active {
        opacity: 0.4;
    }
    &::-webkit-details-marker {
        display: none;
    }
    &::before {
        content: url("/assets/icons/arrow-more-2x.png");
        margin-right: 0.2em;
    }
}
details[open] > summary {
    &::before {
        content: url("/assets/icons/arrow-drop-2x.png");
    }
}
marquee {
    display: block;
}
.num{
    font-family: "Segris 16", "Monopix", monospace;
    white-space-collapse: preserve;
    &.bg {
        position: absolute;
        opacity: 0.1;
        text-shadow: none;
    }
}
.text {
    color: var(--text);
}
.success:not(section) {
    color: var(--success);
    text-shadow: 0.032em 0.032em var(--success-b), 0.032em -0.032em var(--success-b), -0.032em -0.032em var(--success-b), -0.032em 0.032em var(--success-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--success);
    &::selection {
        color: var(--success);
        text-shadow: 0.032em 0.032em var(--success-b), 0.032em -0.032em var(--success-b), -0.032em -0.032em var(--success-b), -0.032em 0.032em var(--success-b), 0.092em 0.092em var(--shadow);
    }
}
.warning:not(section) {
    color: var(--warning);
    text-shadow: 0.032em 0.032em var(--warning-b), 0.032em -0.032em var(--warning-b), -0.032em -0.032em var(--warning-b), -0.032em 0.032em var(--warning-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--warning);
    &::selection {
        color: var(--warning);
        text-shadow: 0.032em 0.032em var(--warning-b), 0.032em -0.032em var(--warning-b), -0.032em -0.032em var(--warning-b), -0.032em 0.032em var(--warning-b), 0.092em 0.092em var(--shadow);
    }
}
.danger:not(section) {
    color: var(--danger);
    text-shadow: 0.032em 0.032em var(--danger-b), 0.032em -0.032em var(--danger-b), -0.032em -0.032em var(--danger-b), -0.032em 0.032em var(--danger-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--danger);
    &::selection {
        color: var(--danger);
        text-shadow: 0.032em 0.032em var(--danger-b), 0.032em -0.032em var(--danger-b), -0.032em -0.032em var(--danger-b), -0.032em 0.032em var(--danger-b), 0.092em 0.092em var(--shadow);
    }
}
.important:not(section) {
    color: var(--accent);
    text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--accent);
    &::selection {
        color: var(--accent);
        text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow);
    }
}
.icon {
    display: inline-block;
    height: 1em;
    filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--icon));
    margin-bottom: -0.16em;
    &.inline-left {
        margin-right: 0.5em;
    }
    &.inline-right {
        margin-left: 0.5em;
    }
    &.success {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--success));
    }
    &.warning {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--warning));
    }
    &.danger {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--danger));
    }
}
.button {
    display: inline-block;
    padding: 5px 12px;
    margin: 8px 0;
    background-color: var(--accent-c);
    border: solid 1px var(--accent);
    border-radius: 4px;
    box-shadow: 3px 3px var(--accent-b), 0 0 18px var(--accent-c);
    z-index: 2;
    &:hover {
        border-style: dashed;
    }
    &.selected {
        border-style: dashed;
        box-shadow: 0 0 48px var(--link);
        z-index: 1;
        transition: box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 700ms;
    }
    &.secret {
        opacity: 0;
        cursor: default;
        transition: opacity 0.5s;
        &:hover {
            opacity: 0.5;
            transition: opacity 5s;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}

@keyframes shake {
    0% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(-2px);
    }
}