@font-face {
    font-family: "Monopix";
    src: url(/fonts/monopix.otf) format("opentype");
}
@font-face {
    font-family: "Segris 16";
    src: url(/fonts/segris-16.otf) format("opentype");
    size-adjust: 70%;
    ascent-override: 135%;
    descent-override: 20%;
}
:root {
    --text: #ddd;
    --d-text-b: #ddd;
    --text-b: var(--d-text-b);
    --icon: #fff8;
    --selection: #f6f;
    --selection-text: #404;
    --shadow: #000a;
    --d-small-text: #666;
    --small-text: var(--d-small-text);
    --section: #000;
    --section-b: #111;
    --d-border: #333;
    --border: var(--d-border);
    --link: #b8f;
    --d-link-b: #537;
    --link-b: var(--d-link-b);
    --accent: #f0f;
    --d-accent-b: #707;
    --accent-b: var(--d-accent-b);
    --accent-c: #202;
    --success: #0f0;
    --d-success-b: #070;
    --success-b: var(--d-success-b);
    --success-c: #020;
    --warning: #ff0;
    --d-warning-b: #770;
    --warning-b: var(--d-warning-b);
    --warning-c: #220;
    --danger: #f00;
    --d-danger-b: #700;
    --danger-b: var(--d-danger-b);
    --danger-c: #200;
    font-size: 18px;
    font-family: Monopix, monospace;
    color: var(--text);
    -webkit-text-size-adjust: none;
}
body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--section);
    background-image: url(/assets/background-tile.png);
    image-rendering: pixelated;
    &::selection {
        background-color: var(--selection);
        color: var(--selection-text);
    }
}
main, .main {
    width: 1000px;
    margin: 0 auto;
}
main {
    mask: linear-gradient(0deg, #aaaa 10%, #ffff 40%, #ffff 60%, #aaaa 90%) 0 0 / 256px 2px;
    filter: brightness(1.4);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--accent);
    position: relative;
    text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--accent);
    font-weight: 100;
    &::selection {
        color: var(--accent);
        text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow);
    }
    &.num {
        text-shadow: 0 0 0.5em var(--accent);
    }
}
h1 {
    font-size: 90px;
}
h2 {
    font-size: 54px;
}
h3 {
    font-size: 36px;
    margin-bottom: 6px;
}
p, li, details, figcaption, .text {
    text-shadow: 0.062em 0.062em var(--shadow), 0 0 0.25em var(--text-b);
    position: relative;
}
p {
    margin: 0;
}
span {
    text-shadow: inherit;
    position: relative;
}
a {
    color: var(--link);
    text-shadow: 0.032em 0.032em var(--link-b), 0.032em -0.032em var(--link-b), -0.032em -0.032em var(--link-b), -0.032em 0.032em var(--link-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--link);
    position: relative;
    &:hover {
        opacity: 0.6;
        text-decoration-style: dashed;    
    }
    &:active {
        opacity: 0.4;
    }
    &::selection {
        color: var(--link);
        text-shadow: 0.032em 0.032em var(--link-b), 0.032em -0.032em var(--link-b), -0.032em -0.032em var(--link-b), -0.032em 0.032em var(--link-b), 0.092em 0.092em var(--shadow);
    }
}
section {
    margin: 0 4px 8px 4px;
    padding: 12px;
    background: linear-gradient(var(--section-b), var(--section));
    border: 2px solid var(--border);
    border-radius: 18px;
    position: relative;
    z-index: 1;
    &.success {
        background: linear-gradient(var(--success-c), var(--section));
        border-color: var(--success);
    }
    &.warning {
        background: linear-gradient(var(--warning-c), var(--section));
        border-color: var(--warning);
    }
    &.danger {
        background: linear-gradient(var(--danger-c), var(--section));
        border-color: var(--danger);
    }
    &.important {
        background: linear-gradient(var(--accent-c), var(--section));
        border-color: var(--accent);
    }
    section {
        margin: -4px;
        border-radius: 9px;
    }
    hr {
        margin-left: -3px;
        margin-right: -3px;
    }
}
hr {
    border: 1px solid var(--border);
}
table {
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 0;
}
ol, ul {
    margin: 0;
}
ul {
    list-style-type: "•  ";
}
small {
    display: inline-block;
    color: var(--small-text);
    font-size: 14px;
    position: relative;
    text-shadow: 0.062em 0.062em var(--shadow), 0 0 0.25em var(--small-text);
    img {
        opacity: 0.5;
    }
}
iframe {
    display: block;
    border: none;
}
textarea, .code {
    padding: 4px;
    font-size: 0.7rem;
    font-family: monospace;
    text-shadow: none;
    color: var(--text);
    background-color: #222;
    border: 1px solid #444;
    box-sizing: border-box;
    resize: none;
    &.code {
        width: 100%;
    }
}
textarea {
    padding: 10px;
}
details > summary {
    text-decoration: underline solid;
    cursor: pointer;
    list-style-type: none;
    &:hover {
        opacity: 0.6;
        text-decoration-style: dashed;
    }
    &:active {
        opacity: 0.4;
    }
    &::-webkit-details-marker {
        display: none;
    }
    &::before {
        content: url("/assets/icons/arrow-more-2x.png");
        margin-right: 0.2em;
    }
}
details[open] > summary {
    &::before {
        content: url("/assets/icons/arrow-drop-2x.png");
    }
}
marquee {
    display: block;
}
.primaryColumn {
    width: 700px;
}
.secondaryColumn {
    min-width: 300px;
    max-width: 300px;
}
.num{
    font-family: "Segris 16", "Monopix", monospace;
    white-space-collapse: preserve;
    &.bg {
        position: absolute;
        opacity: 0.1;
        text-shadow: none;
    }
}
.text {
    color: var(--text);
}
.success:not(section) {
    color: var(--success);
    text-shadow: 0.032em 0.032em var(--success-b), 0.032em -0.032em var(--success-b), -0.032em -0.032em var(--success-b), -0.032em 0.032em var(--success-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--success);
    &::selection {
        color: var(--success);
        text-shadow: 0.032em 0.032em var(--success-b), 0.032em -0.032em var(--success-b), -0.032em -0.032em var(--success-b), -0.032em 0.032em var(--success-b), 0.092em 0.092em var(--shadow);
    }
}
.warning:not(section) {
    color: var(--warning);
    text-shadow: 0.032em 0.032em var(--warning-b), 0.032em -0.032em var(--warning-b), -0.032em -0.032em var(--warning-b), -0.032em 0.032em var(--warning-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--warning);
    &::selection {
        color: var(--warning);
        text-shadow: 0.032em 0.032em var(--warning-b), 0.032em -0.032em var(--warning-b), -0.032em -0.032em var(--warning-b), -0.032em 0.032em var(--warning-b), 0.092em 0.092em var(--shadow);
    }
}
.danger:not(section) {
    color: var(--danger);
    text-shadow: 0.032em 0.032em var(--danger-b), 0.032em -0.032em var(--danger-b), -0.032em -0.032em var(--danger-b), -0.032em 0.032em var(--danger-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--danger);
    &::selection {
        color: var(--danger);
        text-shadow: 0.032em 0.032em var(--danger-b), 0.032em -0.032em var(--danger-b), -0.032em -0.032em var(--danger-b), -0.032em 0.032em var(--danger-b), 0.092em 0.092em var(--shadow);
    }
}
.important:not(section) {
    color: var(--accent);
    text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--accent);
    &::selection {
        color: var(--accent);
        text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow);
    }
}
.icon {
    height: 1em;
    filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--icon));
    &.success {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--success));
    }
    &.warning {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--warning));
    }
    &.danger {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--danger));
    }
}

#changelog tr td, .facts tr td {
    &:first-of-type {
        text-align: right;
        width: 110px;
        padding-right: 10px;
    }
    p {
        margin-bottom: 18px;
    }
}

.gallery {
    margin: 0px 4px;
    figure {
        border: 2px solid var(--border);
        border-radius: 18px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0 -1px 2px 0;
        background-image: url(/assets/transparency.png);
        background-size: 16px;
        img {
            position: relative;
            z-index: 1;
            height: 250px;
            display: block;
        }
        figcaption {
            position: relative;
            z-index: 2;
            background: linear-gradient(#000d, #0002, #0000);
            height: 100%;
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            position: absolute;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 700ms;
            &.desc {
                bottom: 0;
                background: linear-gradient(#0000, #000a 30%, #000);
                height: fit-content;
                opacity: 0;
            }
        }
        &:hover, &:active {
            figcaption {
                opacity: 0;
                &.desc {
                    opacity: 1;
                }
            }
        }
    }
}

.listing {
    margin: 0px 4px;
    section {
        margin: 0 0 8px 0;
        height: 140px;
        position: relative;
        overflow: hidden;
        padding: 0;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 700ms;
        figure {
            position: relative;
            z-index: 0;
            margin: 0;
            height: 100%;
            transition: inherit;
            img {
                height: 100%;
                width: 25%;
                object-fit: cover;
                mask-image: linear-gradient(90deg, #000, #0000);
                transition: inherit;
            }
        }
        .desc {
            display: inline-block;
            position: absolute;
            width: 77%;
            z-index: 1;
            margin-left: 20%;
            padding: 8px 12px 4px 0px;
            transition: inherit;
            p {
                position: absolute;
                transition: inherit;
            }
            .actions {
                opacity: 0;
                transition: inherit;
            }
        }
        &:hover, &:active {
            figure {
                img {
                    width: 40%;
                }
            }
            .desc {
                margin-left: 40%;
                p {
                    opacity: 0;
                }
                .actions {
                    opacity: 1;
                }
            }
        }
    }
}

.ad {
    filter: brightness(0.77);
}

@keyframes bounce {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}