@font-face {
    font-family: "Monopix";
    src: url(/fonts/monopix.otf) format("opentype");
}
@font-face {
    font-family: "Segris 16";
    src: url(/fonts/segris-16.otf) format("opentype");
    size-adjust: 70%;
    ascent-override: 140%;
    descent-override: 20%;
}
@font-face {
    font-family: "Ubuntu Mono";
    src: url(/fonts/UbuntuMono-Regular.ttf) format("truetype");
    ascent-override: 95%;
    descent-override: 30%;
}
@font-face {
    font-family: "Splice";
    src: url(/fonts/splice-dm.otf) format("opentype");
    size-adjust: 65%;
    ascent-override: 140%;
    descent-override: 20%;
}
:root {
    --text: #ddd;
    --d-text-b: #ccc;
    --text-b: var(--d-text-b);
    --icon: #fff8;
    --selection: #f6f;
    --selection-text: #404;
    --shadow: #000c;
    --d-small-text: #666;
    --small-text: var(--d-small-text);
    --section: #000;
    --section-b: #111;
    --d-border: #333;
    --border: var(--d-border);
    --link: #b8f;
    --d-link-b: #537;
    --link-b: var(--d-link-b);
    --accent: #f0f;
    --d-accent-b: #606;
    --accent-b: var(--d-accent-b);
    --accent-c: #202;
    --success: #0f0;
    --d-success-b: #060;
    --success-b: var(--d-success-b);
    --success-c: #020;
    --warning: #ff0;
    --d-warning-b: #660;
    --warning-b: var(--d-warning-b);
    --warning-c: #220;
    --danger: #f00;
    --d-danger-b: #600;
    --danger-b: var(--d-danger-b);
    --danger-c: #200;
    --border-radius: 16px;
    --border-width: 2px;
    --border-spacing: 8px;
    font-size: 18px;
    font-family: Monopix;
    color: var(--text);
    -webkit-text-size-adjust: none;
}
body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--section);
    background-image: url(/assets/background-tile.png);
    image-rendering: pixelated;
    &::selection {
        background-color: var(--selection);
        color: var(--selection-text);
    }
}
main, .main {
    width: 1000px;
    margin: 0 auto;
}
main {
    mask: linear-gradient(0deg, #aaaa 50%, #ffff 50%) 0 0 / 256px 2px, linear-gradient(90deg, #eeee 50%, #ffff 50%) 0 0 / 3px 256px;
    mask-composite: intersect;
    filter: brightness(1.4) saturate(1.25);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--accent);
    position: relative;
    text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--accent);
    font-weight: 500;
    &::selection {
        color: var(--accent);
        text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow);
    }
    &.num {
        text-shadow: 0 0 0.5em var(--accent);
    }
}
h1 {
    font-size: 90px;
}
h2 {
    font-size: 54px;
}
h3 {
    font-size: 36px;
    margin-bottom: 6px;
}
p, li, details, figcaption, .text {
    text-shadow: 0.062em 0.062em var(--shadow), 0 0 0.25em var(--text-b);
    position: relative;
}
p {
    margin: 0;
}
span {
    text-shadow: inherit;
    position: relative;
}
a, a p {
    color: var(--link);
    text-shadow: 0.032em 0.032em var(--link-b), 0.032em -0.032em var(--link-b), -0.032em -0.032em var(--link-b), -0.032em 0.032em var(--link-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--link);
    position: relative;
    z-index: 1;
    text-decoration-thickness: 1px;
    &:hover {
        opacity: 0.6;
        text-decoration-style: dashed;    
        z-index: 2;
    }
    &:active {
        opacity: 0.5;
    }
    &::selection {
        color: var(--link);
        text-shadow: 0.032em 0.032em var(--link-b), 0.032em -0.032em var(--link-b), -0.032em -0.032em var(--link-b), -0.032em 0.032em var(--link-b), 0.092em 0.092em var(--shadow);
    }
    img.badge:hover {
        scale: 1.25;
        box-shadow: 0 0 16px var(--accent-c);
    }
}
section {
    margin: 0 calc(var(--border-spacing) / 2) var(--border-spacing) calc(var(--border-spacing) / 2);
    padding: calc(var(--border-spacing) + 4px);
    background: linear-gradient(var(--section-b), var(--section));
    border: var(--border-width) solid var(--border);
    border-radius: var(--border-radius);
    position: relative;
    z-index: 1;
    &.success {
        background: linear-gradient(var(--success-c), var(--section));
        border-color: var(--success);
    }
    &.warning {
        background: linear-gradient(var(--warning-c), var(--section));
        border-color: var(--warning);
    }
    &.danger {
        background: linear-gradient(var(--danger-c), var(--section));
        border-color: var(--danger);
    }
    &.important {
        background: linear-gradient(var(--accent-c), var(--section));
        border-color: var(--accent);
    }
    section {
        margin: 0 -4px var(--border-spacing) -4px;
        border-radius: calc(var(--border-radius) - 10px);
        &:first-child {
            margin-top: -4px;
        }
        &:last-child {
            margin-bottom: -4px;
        }
    }
}
hr {
    border: none;
    border-top: var(--border-width) solid var(--border);
}
table {
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 0;
}
ol, ul {
    margin: 0;
}
ul {
    list-style-type: "- ";
}
small {
    display: inline-block;
    color: var(--small-text);
    font-size: 14px;
    position: relative;
    text-shadow: 0.062em 0.062em var(--shadow), 0 0 0.25em var(--small-text);
    img {
        opacity: 0.4;
    }
}
iframe {
    display: block;
    border: none;
}
code, textarea {
    font-size: 0.8em;
    font-family: "Ubuntu Mono";
    text-shadow: none;
    color: var(--text);
    background-color: var(--section-b);
    border: dashed 1px var(--border);
    border-radius: 4px;
}
textarea {
    display: block;
    padding: 8px;
    box-sizing: border-box;
    white-space: nowrap;
    resize: none;
    width: 100%;
    height: fit-content;
}
details > summary {
    text-decoration: underline solid;
    cursor: pointer;
    list-style-type: none;
    &:hover {
        opacity: 0.6;
        text-decoration-style: dashed;
    }
    &:active {
        opacity: 0.4;
    }
    &::-webkit-details-marker {
        display: none;
    }
    &::before {
        content: url("/assets/icons/arrow-r-2x.png");
        margin-right: 0.2em;
    }
}
details[open] > summary {
    &::before {
        content: url("/assets/icons/arrow-d-2x.png");
    }
}
marquee {
    display: block;
}
#header {
    & section {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }
}
.primaryColumn {
    width: 700px;
}
.secondaryColumn {
    min-width: 300px;
    max-width: 300px;
}
.num {
    font-family: "Segris 16", "Splice";
    white-space-collapse: preserve;
    &.bg {
        position: absolute;
        opacity: 0.1;
        text-shadow: none;
    }
    &.success, .success {
        text-shadow: 0 0 0.5em var(--success)
    } 
    &.warning, .warning {
        text-shadow: 0 0 0.5em var(--warning)
    }
    &.danger, .danger {
        text-shadow: 0 0 0.5em var(--danger)
    }
    &.important, .important {
        text-shadow: 0 0 0.5em var(--accent)
    } 
}
.text {
    color: var(--text);
}
.success:not(section) {
    color: var(--success);
    text-shadow: 0.032em 0.032em var(--success-b), 0.032em -0.032em var(--success-b), -0.032em -0.032em var(--success-b), -0.032em 0.032em var(--success-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--success);
    &::selection {
        color: var(--success);
        text-shadow: 0.032em 0.032em var(--success-b), 0.032em -0.032em var(--success-b), -0.032em -0.032em var(--success-b), -0.032em 0.032em var(--success-b), 0.092em 0.092em var(--shadow);
    }
}
.warning:not(section) {
    color: var(--warning);
    text-shadow: 0.032em 0.032em var(--warning-b), 0.032em -0.032em var(--warning-b), -0.032em -0.032em var(--warning-b), -0.032em 0.032em var(--warning-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--warning);
    &::selection {
        color: var(--warning);
        text-shadow: 0.032em 0.032em var(--warning-b), 0.032em -0.032em var(--warning-b), -0.032em -0.032em var(--warning-b), -0.032em 0.032em var(--warning-b), 0.092em 0.092em var(--shadow);
    }
}
.danger:not(section) {
    color: var(--danger);
    text-shadow: 0.032em 0.032em var(--danger-b), 0.032em -0.032em var(--danger-b), -0.032em -0.032em var(--danger-b), -0.032em 0.032em var(--danger-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--danger);
    &::selection {
        color: var(--danger);
        text-shadow: 0.032em 0.032em var(--danger-b), 0.032em -0.032em var(--danger-b), -0.032em -0.032em var(--danger-b), -0.032em 0.032em var(--danger-b), 0.092em 0.092em var(--shadow);
    }
}
.important:not(section) {
    color: var(--accent);
    text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--accent);
    &::selection {
        color: var(--accent);
        text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow);
    }
}
.badge {
    display: inline-block;
    margin: 3px;
    &.h31 {
        height: 31px;
    }
    &.w88 {
        width: 88px;
    }
}
.webring {
    padding: 4px;
}
.icon {
    display: inline-block;
    height: 1em;
    filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--icon));
    margin-bottom: -0.16em;
    &.inline-left {
        margin-right: 0.5em;
    }
    &.inline-right {
        margin-left: 0.5em;
    }
    &.success {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--success));
    }
    &.warning {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--warning));
    }
    &.danger {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--danger));
    }
}
.button {
    display: inline-block;
    position: relative;
    padding: 2px 12px;
    background: linear-gradient(var(--accent-c), var(--link-b));
    border: solid 1px var(--link);
    border-radius: 10px;
    box-shadow: 0 0 6px var(--link);
    text-decoration: none;
    z-index: 2;
    &::after {
        content: "";
        background: linear-gradient(var(--link), #0000 70%);
        position: absolute;
        top: 2px;
        left: 4px;
        width: calc(100% - 8px);
        height: 10px;
        border-radius: 5px 5px 0 0;
    }
    &:hover {
        border-style: dashed;
    }
    &.selected {
        background: linear-gradient(var(--success-c), var(--success-b));
        box-shadow: 0 0 12px var(--success);
        z-index: 1;
        &::after {
            background: linear-gradient(var(--warning), #0000 70%);
        }
    }
}

.changelog tr td, .facts tr td {
    &:first-of-type {
        text-align: right;
        width: 110px;
        padding-right: 10px;
    }
    p {
        margin-bottom: 18px;
    }
}

.gallery {
    margin: 0px calc(var(--border-spacing) / 2);
    figure {
        border: var(--border-width) solid var(--border);
        border-radius: var(--border-radius);
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0 calc(var(--border-spacing) - 8px) calc(var(--border-spacing) - 5px) 0;
        background-image: url(/assets/transparency.png);
        background-size: 16px;
        img {
            position: relative;
            z-index: 1;
            height: 300px;
            display: block;
        }
        figcaption {
            position: relative;
            z-index: 2;
            background: linear-gradient(#000d, #0004, #0000);
            height: 100%;
            width: 100%;
            padding: 12px;
            box-sizing: border-box;
            position: absolute;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 700ms;
            &.desc {
                bottom: 0;
                background: linear-gradient(#0000, #000c 20%, #000);
                height: fit-content;
                opacity: 0;
            }
        }
        &:hover, &:active {
            figcaption {
                opacity: 0;
                &.desc {
                    opacity: 1;
                }
            }
        }
    }
}

.listing {
    margin: 0px calc(var(--border-spacing) / 2);
    section {
        margin: 0 0 var(--border-spacing) 0;
        height: 140px;
        position: relative;
        overflow: hidden;
        padding: 0;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 700ms;
        figure {
            position: relative;
            z-index: 0;
            margin: 0;
            height: 100%;
            transition: inherit;
            img {
                height: 100%;
                width: 25%;
                object-fit: cover;
                mask-image: linear-gradient(90deg, #000, #0000);
                transition: inherit;
            }
        }
        .desc {
            display: inline-block;
            position: absolute;
            width: 77%;
            z-index: 1;
            margin-left: 20%;
            padding: 8px 12px 4px 0px;
            transition: inherit;
            p {
                position: absolute;
                transition: inherit;
            }
            .actions {
                opacity: 0;
                transition: inherit;
            }
        }
        &:hover, &:active {
            figure {
                img {
                    width: 40%;
                }
            }
            .desc {
                margin-left: 40%;
                p {
                    opacity: 0;
                }
                .actions {
                    opacity: 1;
                }
            }
        }
    }
}

#accessibility {
    position: absolute;
}

.ad {
    filter: brightness(0.8);
}

@keyframes bounce {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}

@keyframes shake {
    0% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(-2px);
    }
}