@font-face {
    font-family: "Archoblast";
    src: url(fonts/Archoblast.woff2) format("woff2"),
}
@font-face {
    font-family: "Blaster";
    src: url(fonts/BlasterDisplay.woff2) format("woff2"),
}
@font-face {
    font-family: "Conso";
    src: url(fonts/Conso-Regular.ttf) format("truetype"),
}
@font-face {
    font-family: "MicaValo";
    src: url(fonts/MicaValo.woff2) format("woff2"),
}

html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Conso";
    font-size: 1.2rem;
    overflow-x: hidden;
}

.readingColumn {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.wideColumn {
    width: 100vh;
    padding: 0 40px;
}

.card {
    padding: 20px 30px;
    box-shadow: 0 0 20px #ccc;
    box-sizing: border-box;
    border-radius: 40px;
    overflow: hidden;
}

.photo {
    box-shadow: 0 0 20px #ccc;
    box-sizing: border-box;
    border-radius: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

.clickable {
    transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
    &:hover {
        scale: 1.02;
    transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
        &.card {
            box-shadow: 10px 10px 50px #ddd;
            /* border: 4px dashed #5a78ff; */
        }
    }
}

.navbar {
    height: 30px;
    padding-bottom: 50px;
    & a {
        text-decoration: none;
        color: inherit;
    }
}

.frosted {
    backdrop-filter: brightness(2) blur(15px);
    border: none;
}

summary {
    cursor: pointer;
}

h1 {
    font-family: "MicaValo";
    font-size: 10rem;
    font-weight: 100;
}
h2 {
    font-family: "Blaster";
    font-size: 4rem;
    font-weight: 100;
}
h3 {
    font-family: "MicaValo";
    color: #666;
    font-size: 3rem;
    font-weight: 100;
}

h4 {
    font-family: "MicaValo";
    font-size: 1.5rem;
    font-weight: 100;
}