<style>
    @font-face {
        font-family: "acc-monospace";
        src: url(/assets/fonts/UbuntuMono-Regular.ttf) format("truetype");
        ascent-override: 90%;
        descent-override: 37%;
    }

    :root {
        --acc-accent: #95c;
        --acc-border: #fff;
        --acc-accent-text: #fff;
        --acc-bg: #ccc;
    }

    #acc-button {
        width: 45px;
        aspect-ratio: 1;
        z-index: 10000;
        position: fixed;
        left: 11px;
        bottom: 11px;
        border: solid 3px var(--acc-border);
        border-radius: 15px;
        border-bottom-left-radius: 0;
        background-color: var(--acc-accent);
        background-image: url(/assets/icons/accessibility.png);
        background-size: cover;
    }

    #acc-menu {
        visibility: hidden;
        width: 500px;
        max-width: 100vw;
        min-height: fit-content;
        max-height: 100vh;
        z-index: 10001;
        position: fixed;
        left: 10px;
        bottom: 10px;
        border-radius: 30px;
        border-bottom-left-radius: 0;
        background-color: var(--acc-accent);
        border: solid 3px var(--acc-accent);
        box-shadow: 0 0 20px #000;
        overflow: hidden;
        font-family: Verdana, acc-monospace, sans-serif;
        color: #000;
        cursor: auto;
        fieldset {
            border-radius: 12px;
            border: 2px solid #aaa;
        }
        input, label {
            cursor: pointer;
            margin: 10px 0;
        }
    }

    button {
        border: none;
        background: none;
        font: inherit;
        color: var(--acc-accent-text);
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }

    .acc-title {
        color: var(--acc-accent-text);
        padding: 8px 16px 10px;
    }
    .acc-options {
        background-color: var(--acc-bg);
        padding: 9px 16px 18px;
        border-top-right-radius: 27px;
        border-top-left-radius: 27px;
    }
</style>
<button id="acc-button" onclick="accMenuOpen();" title="Open Accessibility Menu"></button>
<div id="acc-menu">
    <div class="acc-title">
        <img src="/assets/icons/accessibility.png" onload="accLoaded();" style="float: left; translate: 0, 5px;">&nbsp;<b>Accessibility Options</b>
        <button onclick="accMenuClose();" style="float: right; transform: translateY(-1px);" title="Close Accessibility Menu"><u>Close</u></button>
    </div>
    <div class="acc-options">
        <fieldset>
            <legend><b>Visuals</b></legend>
            <input type="checkbox" id="novfx" onclick="accChange();">
            <label for="novfx">disable visual effects</label>
            <br>
            <input type="checkbox" id="contrast" onclick="accChange();">
            <label for="contrast">increase contrast</label>
        </fieldset>
        <br>
        <fieldset>
            <legend><b>Font</b></legend>
            <input type="radio" id="sitefont" name="font" onclick="accChange();" checked>
            <label for="sitefont"><span style="font-family: monopix;">pixelated</span>&nbsp;&nbsp;<span style="font-size: 75%;">default</span></label>
            <br>
            <input type="radio" id="monofont" name="font" onclick="accChange();">
            <label for="monofont"><span style="font-family: acc-monospace;">smooth</span></label>
        </fieldset>
    </div>
</div>
