<section id="header-section" style="text-align: center; overflow: hidden;">
    <img src="/assets/images/embellishment.png" style="width: 300px; position: absolute; bottom: 24px; left: 24px;">
    <img src="/assets/images/embellishment.png" style="width: 300px; position: absolute; bottom: 24px; right: 24px; transform: scaleX(-1);">
    <div style="margin: -2px 0 10px 0;">
        <a href="/index.html" style="text-decoration: none;">
            <img onload="headerLoaded();" src="/assets/branding/aivi-logo-2026-pix.png" style="width: 68px; margin-bottom: -16px; filter: drop-shadow(2px 2px var(--shadow)) drop-shadow(0 0 8px #90b);">
            <h2 style="position: relative; z-index: 1; display: inline-block; font-family: Monopix;">aivi.<span class="success" style="margin-left: -0.06em;">party!</span></h2>
        </a>
    </div>
    <div style="position: relative; z-index: 1;">
        <a id="index" class="button" href="/index.html"><img class="icon inline-left" src="/assets/icons/home.png">index</a>
        <a id="about" class="button" href="/about.html"><img class="icon inline-left" src="/assets/icons/furry.png">about</a>
        <a id="gallery" class="button" href="/gallery.html"><img class="icon inline-left" src="/assets/icons/image.png">gallery</a>
        <a id="projects" class="button" href="/projects.html"><img class="icon inline-left" src="/assets/icons/hammer.png">projects</a>
        <a id="blog" class="button" href="/blog/index.html"><img class="icon inline-left" src="/assets/icons/speech.png">blog</a>
        <a id="commissions" class="button" href="/commissions.html"><img class="icon inline-left" src="/assets/icons/pencil.png">commissions</a>
        <a id="contact" class="button" href="/contact.html"><img class="icon inline-left" src="/assets/icons/mail.png">contact</a>
    </div>
</section>