<div style="height: 60px"></div>
<div style="text-align: center; opacity: 0.7;">
    <div style="width: 700px; margin: 0 auto;">
        <small>
            <a href="/index.html"><img src="/assets/branding/aiviparty-horizontal.png" style="height: 32px;"></a>
            <br>&copy; 2024-2026 poisonaivi. all rights reserved.
            <br><a href="https://github.com/poisonaivi/aivi.party" target="_blank"><img style="filter: brightness(0.3)" class="icon inline-left" src="/assets/icons/code.png">source code</a> • <a href="mailto:poison@aivi.party"><img style="filter: brightness(0.3)" class="icon inline-left" src="/assets/icons/mail.png">poison@aivi.party</a>
        </small>
    </div>
</div>
<div style="height: 100px"></div>