@font-face {
    font-family: "Monopix";
    src: url(/assets/fonts/monopix.otf) format("opentype");
}
@font-face {
    font-family: "Monopix XS";
    src: url(/assets/fonts/monopix-xs.otf) format("opentype");
    size-adjust: 110%;
}
@font-face {
    font-family: "Segris 16";
    src: url(/assets/fonts/segris-16.otf) format("opentype");
    size-adjust: 72%;
    ascent-override: 135%;
}
@font-face {
    font-family: "Ubuntu Mono";
    src: url(/assets/fonts/UbuntuMono-Regular.ttf) format("truetype");
    ascent-override: 95%;
    descent-override: 30%;
}
@font-face {
    font-family: "Splice";
    src: url(/assets/fonts/splice-dm.otf) format("opentype");
    size-adjust: 65%;
    ascent-override: 140%;
    descent-override: 20%;
}
:root {
    --text: #ddd;
    --d-text-b: #ccc;
    --text-b: var(--d-text-b);
    --icon: #fff8;
    --selection: #f6f;
    --selection-text: #404;
    --shadow: #000c;
    --d-small-text: #555;
    --small-text: var(--d-small-text);
    --section: #000;
    --section-b: #101;
    --d-border: #323;
    --border: var(--d-border);
    --link: #b9f;
    --d-link-b: #436;
    --link-b: var(--d-link-b);
    --accent: #d0f;
    --d-accent-b: #505;
    --accent-b: var(--d-accent-b);
    --accent-c: #202;
    --success: #0f3;
    --d-success-b: #051;
    --success-b: var(--d-success-b);
    --success-c: #020;
    --warning: #ff3;
    --d-warning-b: #662;
    --warning-b: var(--d-warning-b);
    --warning-c: #221;
    --danger: #f03;
    --d-danger-b: #501;
    --danger-b: var(--d-danger-b);
    --danger-c: #200;
    --border-radius: 12px;
    --border-width: 2px;
    --border-spacing: 6px;
    --magenta-filter: sepia(1) hue-rotate(240deg) saturate(2) brightness(0.8);
    --d-crt-mask: intersect linear-gradient(0deg, #bbbb 50%, #ffff 50%) 0 0 / 256px 2px, intersect linear-gradient(90deg, #eeee 50%, #ffff 50%) 0 0 / 3px 256px;
    --crt-mask: var(--d-crt-mask);
    --d-crt-filter: brightness(1.3) saturate(1.2);
    --crt-filter: var(--d-crt-filter);
    --trans-curve: cubic-bezier(0.24, 1, 0.3, 1);
    font-size: 18px;
    font-family: Monopix;
    color: var(--text);
    -webkit-text-size-adjust: none;
}
body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--section);
    background-image: url(/assets/images/background-tile.png);
    background-size: 580px;
    image-rendering: pixelated;
    &::selection {
        background-color: var(--selection);
        color: var(--selection-text);
    }
}
main {
    width: 1000px;
    margin: 0 auto;
    mask: var(--crt-mask);
    filter: var(--crt-filter);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--accent);
    position: relative;
    text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--accent);
    font-weight: 500;
    &::selection {
        color: var(--accent);
        text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow);
    }
    &.num {
        text-shadow: 0 0 0.5em var(--accent);
    }
}
h1 {
    font-size: 90px;
}
h2 {
    font-size: 54px;
}
h3 {
    font-size: 36px;
    margin-bottom: 6px;
}
p, td, li, details, figcaption, .text {
    text-shadow: 0.062em 0.062em var(--shadow), 0 0 0.25em var(--text-b);
    position: relative;
}
p {
    margin: 0;
}
span {
    text-shadow: inherit;
    position: relative;
}
a, a p {
    color: var(--link);
    text-shadow: 0.032em 0.032em var(--link-b), 0.032em -0.032em var(--link-b), -0.032em -0.032em var(--link-b), -0.032em 0.032em var(--link-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--link);
    text-decoration: none;
    text-decoration-thickness: 1px;
    cursor: pointer;
    &:hover {
        opacity: 0.75;
        text-decoration: underline;
        text-decoration-style: dashed;    
    }
    &:active {
        opacity: 0.6;
    }
    &::selection {
        color: var(--link);
        text-shadow: 0.032em 0.032em var(--link-b), 0.032em -0.032em var(--link-b), -0.032em -0.032em var(--link-b), -0.032em 0.032em var(--link-b), 0.092em 0.092em var(--shadow);
    }
    .badge:hover {
        border: 1px dashed var(--link);
        box-shadow: 0 0 8px var(--link);
        box-sizing: border-box;
    }
}
a > .tinted:hover.badge, a > .badge:hover {
    filter: brightness(1.3);
}
section {
    margin: 0 calc(var(--border-spacing) / 2) var(--border-spacing) calc(var(--border-spacing) / 2);
    padding: calc(var(--border-spacing) + 4px);
    background: linear-gradient(var(--section), var(--section-b));
    box-shadow: inset 0 0 20px var(--section);
    border: var(--border-width) solid var(--border);
    border-radius: var(--border-radius);
    position: relative;
    z-index: 1;
    overflow: hidden;
    .title-bar {
        position: relative;
        z-index: 10;
        background: linear-gradient(90deg, var(--border), var(--section-b));
        margin: calc(-4px - (var(--border-spacing)));
        margin-bottom: calc(var(--border-spacing) + 4px);
        padding: 1px calc(var(--border-radius));
    }
    &#header-section {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }
    &.success {
        background: linear-gradient(var(--section), var(--success-c));
        border-color: var(--success);
        .title-bar {
            background: linear-gradient(90deg, var(--success-b), var(--success-c));
        }
    }
    &.warning {
        background: linear-gradient(var(--section), var(--warning-c));
        border-color: var(--warning);
        .title-bar {
            background: linear-gradient(90deg, var(--warning-b), var(--warning-c));
        }
    }
    &.danger {
        background: linear-gradient(var(--section), var(--danger-c));
        border-color: var(--danger);
        .title-bar {
            background: linear-gradient(90deg, var(--danger-b), var(--danger-c));
        }
    }
    &.important {
        background: linear-gradient(var(--section), var(--accent-c));
        border-color: var(--accent);
        .title-bar {
            background: linear-gradient(90deg, var(--accent-b), var(--accent-c));
        }
    }
    section {
        border-radius: calc(var(--border-radius) - var(--border-spacing));
    }
    section:not(.thumbnail) {
        margin: 0 -4.5px var(--border-spacing) -4.5px;
        &:first-of-type {
            margin-top: -4px;
        }
        &:last-child {
        margin-bottom: -4px;
        }
    }
}
.thumbnailImage {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumbnailText {
    position: absolute;
    z-index: 2;
    bottom: calc(var(--border-spacing) + 4px);
    width: calc(100% - 2 * 12px);
}
.fontPreview {
    font-size: 50px;
    text-shadow: none;
    white-space: nowrap;
}
hr {
    border: none;
    border-top: var(--border-width) dashed var(--border);
}
table {
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 0;
}
ol, ul {
    margin: 0;
}
ul {
    list-style-type: "- ";
}
small {
    display: inline-block;
    color: var(--small-text);
    font-family: "Monopix XS";
    font-size: 15px;
    position: relative;
    text-shadow: 0.062em 0.062em var(--shadow), 0 0 0.25em var(--small-text);
    img {
        filter: brightness(0.3);
    }
    .bright {
        filter: none;
    }
}
iframe {
    display: block;
    border: none;
}
code, textarea {
    font-size: 0.8em;
    font-family: "Ubuntu Mono";
    text-shadow: none;
    color: var(--text);
    background-color: var(--section-b);
    border: dashed 1px var(--border);
    border-radius: 4px;
}
textarea {
    display: block;
    padding: 8px;
    box-sizing: border-box;
    white-space: nowrap;
    resize: none;
    width: 100%;
    height: fit-content;
}
details > summary {
    cursor: pointer;
    list-style-type: none;
    &:hover {
        opacity: 0.6;
        text-decoration: underline dashed;
    }
    &:active {
        opacity: 0.4;
    }
    &::-webkit-details-marker {
        display: none;
    }
    &::before {
        content: url("/assets/icons/arrow-r-2x.png");
        margin-right: 0.2em;
    }
}
details[open] > summary {
    &::before {
        content: url("/assets/icons/arrow-d-2x.png");
    }
}
marquee {
    display: block;
}
.primaryColumn {
    width: 700px;
}
.secondaryColumn {
    min-width: 300px;
    max-width: 300px;
}
.num {
    font-family: "Segris 16", "Splice";
    white-space-collapse: preserve;
    &.bg {
        position: absolute;
        opacity: 0.1;
        text-shadow: none;
    }
    &.success, .success {
        text-shadow: 0 0 0.5em var(--success)
    } 
    &.warning, .warning {
        text-shadow: 0 0 0.5em var(--warning)
    }
    &.danger, .danger {
        text-shadow: 0 0 0.5em var(--danger)
    }
    &.important, .important {
        text-shadow: 0 0 0.5em var(--accent)
    } 
}
.text {
    color: var(--text);
}
.noselect {
    user-select: none;
}
.previewText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.success:not(section) {
    color: var(--success);
    text-shadow: 0.032em 0.032em var(--success-b), 0.032em -0.032em var(--success-b), -0.032em -0.032em var(--success-b), -0.032em 0.032em var(--success-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--success);
    &::selection {
        color: var(--success);
        text-shadow: 0.032em 0.032em var(--success-b), 0.032em -0.032em var(--success-b), -0.032em -0.032em var(--success-b), -0.032em 0.032em var(--success-b), 0.092em 0.092em var(--shadow);
    }
}
.warning:not(section) {
    color: var(--warning);
    text-shadow: 0.032em 0.032em var(--warning-b), 0.032em -0.032em var(--warning-b), -0.032em -0.032em var(--warning-b), -0.032em 0.032em var(--warning-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--warning);
    &::selection {
        color: var(--warning);
        text-shadow: 0.032em 0.032em var(--warning-b), 0.032em -0.032em var(--warning-b), -0.032em -0.032em var(--warning-b), -0.032em 0.032em var(--warning-b), 0.092em 0.092em var(--shadow);
    }
}
.danger:not(section) {
    color: var(--danger);
    text-shadow: 0.032em 0.032em var(--danger-b), 0.032em -0.032em var(--danger-b), -0.032em -0.032em var(--danger-b), -0.032em 0.032em var(--danger-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--danger);
    &::selection {
        color: var(--danger);
        text-shadow: 0.032em 0.032em var(--danger-b), 0.032em -0.032em var(--danger-b), -0.032em -0.032em var(--danger-b), -0.032em 0.032em var(--danger-b), 0.092em 0.092em var(--shadow);
    }
}
.important:not(section) {
    color: var(--accent);
    text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow), 0 0 0.5em var(--accent);
    &::selection {
        color: var(--accent);
        text-shadow: 0.032em 0.032em var(--accent-b), 0.032em -0.032em var(--accent-b), -0.032em -0.032em var(--accent-b), -0.032em 0.032em var(--accent-b), 0.092em 0.092em var(--shadow);
    }
}
.badge {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 3px;
    &:hover {
        z-index: 3;
    }
    &.h31 {
        height: 31px;
    }
    &.w88 {
        width: 88px;
    }
}
.tinted {
    filter: var(--magenta-filter);
    &:hover:not(.nonhover) {
        filter: none;
    }
}
.icon {
    display: inline-block;
    height: 1em;
    margin-bottom: -0.16em;
    &.inline-left {
        margin-right: 0.5em;
    }
    &.inline-right {
        margin-left: 0.5em;
    }
}
:not(small) > .icon, .bright > .icon {
    filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--icon));
    &.success {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--success));
    }
    &.warning {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--warning));
    }
    &.danger {
        filter: drop-shadow(0.1em 0.1em var(--shadow)) drop-shadow(0 0 0.25em var(--danger));
    }
}
.button {
    display: inline-block;
    position: relative;
    padding: 2px 12px;
    background: linear-gradient(var(--accent-c) 40%, var(--accent-b));
    border: solid 1px var(--accent);
    border-radius: 10px;
    box-shadow: 0 0 6px var(--accent);
    z-index: 2;
    &::before {
        content: "";
        background: linear-gradient(var(--link), #0000);
        position: absolute;
        top: 2px;
        left: 4px;
        width: calc(100% - 8px);
        height: 7px;
        border-radius: 5px 5px 0 0;
    }
    &:hover {
        border-style: dashed;
    }
    &.selected {
        background: linear-gradient(var(--success-c) 40%, var(--success-b));
        box-shadow: 0 0 12px var(--success);
        z-index: 1;
        &::before {
            background: linear-gradient(var(--warning), #0000 70%);
        }
    }
}
#accessibility {
    position: absolute;
}
@keyframes bounce {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}
@keyframes shake {
    0% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(-2px);
    }
}